
body{
    background-color: rgb(230, 181, 4);
}


.image-row{
    display: flex;
    justify-content: center;
    align-content: center;

}

#one{
    border-style: solid;
    border-radius: 10px;

}

#two{
    border-style: solid;
    border-radius: 10px;

}

#three{
    border-style: solid;
    border-radius: 10px;
    height: 315px;
}

h1{
    text-align: center;
    padding: auto;
    line-break: auto;
    background-color: aliceblue;
    
    
}
